## Preprocessing for data visualisation model

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import rcParams

In [2]:
from matplotlib.backends.backend_pdf import PdfPages

In [3]:
from matplotlib import rcParams

In [4]:
df=pd.read_csv('DS_DATESET.csv')
df

,ID,First Name,Last Name,City,State,Zip Code,DOB [DD/MM/YYYY],Age,Gender,Email Address,...,Knowing of Python,Have you worked on MySQL or Oracle database,Have you studied OOP Concepts,Certifications/Achievement/ Research papers,Rate your written communication skills [1-10],Rate your verbal communication skills [1-10],Link to updated Resume (Google/ One Drive link preferred),link to Linkedin profile,How Did You Hear About This Internship?,Label
0,1,Barron,Harnes,Kolhapur,Maharashtra,416004,24/09/2000,19,Male,bharnes0@harvard.edu,...,False,Yes,No,NaN,6,10,NaN,NaN,Twitter,ineligible
1,2,Velma,Allone,Pune,Maharashtra,411011,23/10/1997,22,Female,vallone1@i2i.jp,...,False,No,Yes,NaN,10,7,NaN,NaN,Ex/Current Employee,eligible
2,3,Thibaut,Scotland,Mumbai,Maharashtra,400059,6/2/1996,24,Male,tscotland2@opensource.org,...,False,No,No,NaN,8,6,NaN,NaN,Twitter,ineligible
3,4,Retha,Proud,Solapur,Maharashtra,413224,26/12/1999,20,Female,rproud3@flavors.me,...,False,No,Yes,NaN,9,6,NaN,NaN,Twitter,ineligible
4,5,Del,Pearse,Sangli,Maharashtra,416436,21/09/1996,23,Female,dpearse4@sakura.ne.jp,...,True,No,Yes,NaN,8,6,NaN,NaN,Facebook,ineligible
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Paulie,Wilden,Sangli,Maharashtra,416410,1/6/2000,19,Male,pwildenrn@sbwire.com,...,False,Yes,Yes,NaN,9,9,NaN,NaN,Facebook,eligible
9996,9997,Domini,Napton,Mumbai,Maharashtra,400059,20/07/1998,21,Female,dnaptonro@deviantart.com,...,False,Yes,Yes,NaN,7,7,NaN,NaN,Friend,eligible
9997,9998,Adoree,Westwick,Kolhapur,Maharashtra,416007,21/03/1998,22,Female,awestwickrp@example.com,...,False,Yes,No,NaN,7,7,NaN,NaN,Newspaper,eligible
9998,9999,Germain,Imlen,Sangli,Maharashtra,416415,29/01/2000,20,Female,gimlenrq@theatlantic.com,...,False,Yes,Yes,NaN,7,6,NaN,NaN,Blog post,ineligible
9999,10000,Roanne,Dallow,Solapur,Maharashtra,413224,6/3/1999,21,Female,rdallowrr@bandcamp.com,...,False,No,No,NaN,6,10,NaN,NaN,Facebook,ineligible

In [5]:
missing_data = df.isnull()
missing_data

,ID,First Name,Last Name,City,State,Zip Code,DOB [DD/MM/YYYY],Age,Gender,Email Address,...,Knowing of Python,Have you worked on MySQL or Oracle database,Have you studied OOP Concepts,Certifications/Achievement/ Research papers,Rate your written communication skills [1-10],Rate your verbal communication skills [1-10],Link to updated Resume (Google/ One Drive link preferred),link to Linkedin profile,How Did You Hear About This Internship?,Label
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,True,False,False
9996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,True,False,False
9997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,True,False,False
9998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,True,False,False
9999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,True,False,False

In [6]:
a=df.drop(["Certifications/Achievement/ Research papers",
                  "Link to updated Resume (Google/ One Drive link preferred)","link to Linkedin profile"], axis = 1)

In [7]:
b=df.astype({'CGPA/ percentage': 'float','Rate your written communication skills [1-10]': 'int32',"Rate your verbal communication skills [1-10]":"int32"}).dtypes

## Data cleaning for classification model

In [8]:
df = pd.read_csv("DS_DATESET.csv", delimiter=",")

In [9]:
df=df.drop(["ID","First Name","Last Name","State","Zip Code","DOB [DD/MM/YYYY]","Email Address","Contact Number","Emergency Contact Number"],axis=1)

In [10]:
df=df.drop(["University Name","Degree","Course Type","Expected Graduation-year","Current Employment Status","Knowing of Python","Certifications/Achievement/ Research papers","Link to updated Resume (Google/ One Drive link preferred)","link to Linkedin profile"],axis=1)

In [11]:
df1=df.drop(["Label"],axis=1)

In [12]:
df1.rename(columns = {"College name":"College","Major/Area of Study":"Department","Which-year are you studying in?":"Year","CGPA/ percentage":"CGPA","Areas of interest":"Interest","Have you worked core Java":"KnowingJava","Programming Language Known other than Java (one major)":"OtherLangauge","Have you worked on MySQL or Oracle database":"KnowingSQL","Have you studied OOP Concepts":"KnowingOOP","Rate your written communication skills [1-10]":"WrittenSkills","Rate your verbal communication skills [1-10]":"VerbalSkills","How Did You Hear About This Internship?":"Source"}, inplace = True)